.container {
  background-color: rgb(247, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88.5%;
}

.mainContainer {
  width: 80%;
  height: 80vh;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 1rem;
}

.leftContainer{
    flex: 0.7;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightContainer{
    flex: 0.3;
    background-color: rgb(66, 66, 185) !important;
  border-radius: 0 1rem 1rem 0;

}

.input{
    display: block;
    width: 80%;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: .5rem;
    border: 1px solid #ccc;
}

.input:active, .input:focus{
    outline: none;
    border-color: rgb(66, 66, 185);
}

.submitButton{
    display: block;
    width: 83%;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: .5rem;
    border: none;
    background-color: rgb(66, 66, 185);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.authLink{
    padding: .5rem;
    text-align: center;
    cursor: pointer;
}

.authLink a{
    color: rgb(66, 66, 185);
    text-decoration: none;
    border-bottom: 1px solid rgb(122, 122, 247);
}